html{
    background-color: #FEFCE8;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

body{
    font: 14px/1.5 Arial, Helvetica, sans-serif;
    color:#000000;
}

a, a:visited, a:hover{
    color:#fff;
    text-decoration: none;
}



*{
    margin:0;
    padding:0;
}

/****************************************

 // MENU

****************************************/

div.menu_box {
    position: fixed;
    left: 0px;
    top: 4px;
    width: 100px;
    height: 570px;
    background-color: #330033;
    border-radius: 0px 15px 15px 0px;
    color: #FEFCE8;
}


/* display: span with table / display: table-cell needed to correctly align vertical */

#date_box {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 10px;
    display: table;
}


#weekday {
    font: 15px/2 Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#date {
    font: 13px/2 Arial, Helvetica, sans-serif;
}

#profile {
    width: 100px;
    height: 100px;
    position:fixed;
    top: 120px;
    font: 14px/1.5 Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#FEFCE8;
}

#date_box span {
    text-align: center;
    vertical-align:middle;
    display: table-cell;
    font: 10px/2 Arial, Helvetica, sans-serif;
}



#logo_box {
    position: fixed;
    width: 100px;
    bottom: 10px;
    height: auto;
    font: 10px/1.5 Arial, Helvetica, sans-serif;
}

/****************************************

 // CONTENT

****************************************/

div.content {
    padding: 10px;
    position: fixed;
    left: 100px;
    top: 0;
    width: 900px;
    height: 300px;
}

#productivity_box {
    position: fixed;
    width: 350px;
    height: 280px;
    left: 115px;
    top: 4px;
}


#timeframe {
    position: fixed;
    top: 220px;
    width: 100px;
}

#timeframe span {
    text-align: center;
    vertical-align:middle;
    display: table-cell;
    font: 10px/2 Arial, Helvetica, sans-serif;
}


#activity_box {
    position: fixed;
    width: 350px;
    height: 280px;
    left: 635px;
    top: 4px;
    border: 1px dashed #330033;
}

#overall_chart {
    position: fixed;
    width: 870px;
    height: 270px;
    left: 115px;
    top: 300px;
    border: 1px dashed #330033;
}

.google-visualization-tooltip {
    position:fixed !important;
    top:240px !important;
    left:480px !important;
    width: 140px;
    background-color:  transparent !important;
    border: none !important;
    box-shadow: none !important;
    font: 15px/2 Arial, Helvetica, sans-serif; !important;
    font-weight: bold;
    text-align: center;
}

#middle_box {
    position: fixed;
    width: 140px;
    height: 280px;
    left: 480px;
    top: 4px;
    border: 1px dashed #330033;
}
